<div class="app-container diag-container" loading="$ctrl.loading">
  <div class="header">
    <div class="title-bar">
      <div class="title">{{ 'WAN_CONFIG.TITLE' | translate }}</div>
    </div>
  </div>
  <div class="body">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-header" ng-if="$ctrl.proto === 'static'">{{ 'STATUS.DIAG.TIP_STATIC' | translate }}</div>
        <div class="section-header" ng-if="$ctrl.proto === 'dhcp'">{{ 'STATUS.DIAG.TIP_DHCP' | translate }}</div>
        <div class="section-header" ng-if="$ctrl.proto === 'pppoe'">{{ 'STATUS.DIAG.TIP_PPPOE' | translate }}</div>
      </div>

      <div class="col-sm-12">
        <div class="diag-content">
          <textarea ng-model="$ctrl.diagResult" ng-disabled="true"></textarea>
        </div>

      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-default login-btn pull-left" ng-disabled="!$ctrl.isDiagFinished" ng-click="$ctrl.pre()">{{'COMMON.PRE' | translate}}</button>
    <button class="btn btn-primary login-btn pull-right" ng-disabled="!$ctrl.isDiagFinished" ng-click="$ctrl.next()">{{'COMMON.NEXT' | translate}}</button>
  </div>
</div>